*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: rgb(41,21,116);
    height: 50px;
}
.cabecalho_informacoes{
    display: flex;
    flex-direction: row-reverse;
    justify-items: flex-end;
    align-content: flex-end;
}
li{
    margin: 8px; 
}
.cabecalho_informacoes h5{
    color: white;
    font-size: 1em;
}
li h5 :hover{
    color: rgb(244, 233, 3);
    font-size: 1em;
}
.emailcabecalho{
    display: flex;
    justify-content: flex-end;
}
.emailcabecalho h6{
    color: white;
}


/* fim da formatacao do header e inicio da responsividade do body */

.container-grid{
    display: flex;
    border: 1px solid yellow;
    position: relative;
    flex-wrap: wrap;
}
.logomarca{
    height: 231px;
    width: 651px;
}

.logomarca img{
    max-width: 932px;
    max-height: 932px;
    position: absolute;
    height: 231px;
    width: 651px;
}
.menu{
    display:flex;
    box-sizing: border-box;
    
    height: 37vh;
    width: 115vh;
    position: relative;
    justify-content:center;
    align-items: center;    
    


}
.box {
    
    justify-self: space-around;
    

    height:40%;
    padding: auto;
    margin: auto;  
}
.box-1{
    
    background: rgb(35, 60, 107);
}
.box-2{
    
    background: rgb(120, 173, 34);
}
.box-3{
    
    background: rgb(145, 81, 204);
}
.box-4{
    
    background: rgb(36, 124, 139);
}
.box-5{
    
    background: rgb(192, 31, 165);
}
/* fim da edicao do menu e inicio da responsividade */ 
@media screen and (max-width:1600px){
       
}
@media screen and (max-width:1140px){
    /* IPAD */

    
    .logomarca{
        width: 100%; 
    }
    .logomarca img{
        width: 1100px;
        
       
    }
    .menu{
        width: 155vh;
        height: 10vh;
    }
    
}
@media screen and (max-width: 920px){   
    .logomarca{
        width: 100%; 
    }
    .logomarca img{
        width: 760px;
        
       
    }
    .menu{
        width: 155vh;
        height: 10vh;
    }
}
@media screen and  (max-width:720px){
    .logomarca{
        width: 100%; 
    }
    .logomarca img{
        width: 370px;
        
       
    }
    .menu{
        width: 155vh;
        height: 10vh;
    }
}
@media screen and  (max-width:540px){
    .logomarca{
        width: 100%; 
    }
    .logomarca img{
        width: 370px;
        
       
    }
    .menu{
        width: 155vh;
        height: 10vh;
    }   
}

@media screen and (max-width:360px;){
    
   
    .container-grid{
        width:322px;
        
    }
    .logomarca{
        width: 100%; 
    }
    .logomarca img{
        width: 200px;    
    }
    .menu{
        width: 170vh;
        height: 10vh;
    }  
}



