*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    
}

header{
    background-color: rgb(41,21,116);
    height: 50px;
}
.cabecalho_informacoes{
    display: flex;
    flex-direction: row-reverse;
    justify-items: flex-end;
    align-content: flex-end;
}
li{
    margin: 8px; 
}
.cabecalho_informacoes h5{
    color: white;
    font-size: 1em;
}
li h5 :hover{
    color: rgb(244, 233, 3);
    font-size: 1em;
}
.emailcabecalho{
    display: flex;
    justify-content: flex-end;
}
.emailcabecalho h6{
    color: white;
}


/* fim da formatacao do header e inicio da responsividade do body */

body{
    background-image: url(../imagens/globo.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 100%;
}
.container-grid{
    display: flex;
    /* border: 4px solid yellow; */
    position: relative;
    flex-wrap: wrap;
    height: 100%;
  
    
    
}
.logomarca{
    height: 6vh;
    
    
    flex-grow: 1;
}

.logomarca img{
    max-width: 1200px;
    max-height: 1200px;
    height:6vh;
    width: 50%;
   
    
   
}
.menu{
    display: flex;
    background: rgb(244, 233, 3);
    border: 2px solid rgb(244, 233, 3);
    display:flex;
    box-sizing: border-box;
    margin-top: 5vh;
    border-radius: 3vh;
    flex-grow:3; 
    height: 10vh;
    width: 100%;
    position: relative;
    justify-content:center;
    align-items: center; 
     
}
.box {
    display: flex;
    width: 50%;
    position: relative;
   
    
    height:80%;
    

}
.box a{
    /* tecnica padrao de centralizacao */
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    
    
    font-family: 'Oswald', sans-serif;
    color:black;
    text-decoration: none;
    
    text-align: center;
    font-size: 3vh;
   

}
.box :hover{
    background-color: rgb(41,21,116);
    color:rgb(244, 233, 3);
}
.box-1{
    flex-grow: 5;
}
.box-2{
    flex-grow: 2;
}
.box-3{
    flex-grow: 2;
}
.box-4{
    flex-grow: 2;
}
.box-5{
    flex-grow: 3;
}
/* fim da edicao do menu e inicio da responsividade */ 
@media screen and (max-width:1920px){
    .container-grid{
       flex-wrap: nowrap;
       margin-right: 7%;
       margin-left: 7%;
    }
    .menu{
        /* border: 3px solid black; */
       
    }
    .logomarca{
        
        height: 37vh;
        width: 90vh;
        
    }
   .logomarca img{
       height: 100%;
       width: 100%;
        
   }
   

}

@media screen and (max-width: 1200px){
    .body{
        height: 100%;
    }
    .container-grid{
        margin-right: 0;
        margin-left: 0;
        flex-wrap: wrap;
        margin-right: 7%;
        margin-left: 7%;
    }
    .logomarca{
        width: 132vh;
    }
    .logomarca img{
        width: 100%;
        height: 32vh;
    }
    .menu{
        height: 15vh;
    }
}
    
@media screen and (max-width:1000px){
    .container-grid{
        margin-right: 7%;
        margin-left: 7%;
        flex-wrap: wrap;
        
    }
    .logomarca{
        width: 100%; 
        

     
    }
    .logomarca img{
        width: 100%;
        height: 340px;
      
    }
    .menu{
        width: 155vh;
        height: 12vh;
    }
}
@media screen and (max-width: 920px){   
    .container-grid{
        margin-right: 7%;
        margin-left: 7%;
        flex-wrap: wrap;
        
    }
    .logomarca{
        width: 920px; 
    }
    .logomarca img{
        width: 100%   
    }
    .menu{
        width: 155vh;
        height: 10vh;
    }
}
@media screen and  (max-width:720px){
    .container-grid{
        margin-right: 7%;
        margin-left: 7%;
        flex-wrap: wrap;
        
    }
    .logomarca{

        width: 720px; 
    }
    .logomarca img{
        width: 100%;  
    }
    .menu{
        width: 155vh;
        height: 9vh;
    }
}
@media screen and  (max-width:540px){

    .container-grid{
        margin-right: 7%;
        margin-left: 7%;
        flex-wrap: wrap;
        
    }
    .logomarca{
        width: 540px; 
    }
    .logomarca img{
        width: 100%; 
    }
    .menu{
        width: 155vh;
        height: 9vh;
    }   
}

@media screen and (max-width:360px;){
    .container-grid{
        margin-right: 7%;
        margin-left: 7%;
        flex-wrap: wrap;
        width:322px;  
    }
    .logomarca{
        width: 60px; 
    }
    .logomarca img{
        width: 100%;    
    }
    .menu{
        width: 170vh;
        height: 8vh;
    }  
}


/* Fim da responsividade do menu principal */

.conteudoprincipal{
    display: flex;
    height: 55vh;
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 3vh;
    background: white;
    position: relative;
    border: 2px solid black;


}


.empresa{
    position: relative;
    flex-grow: 3;
    height: 50vh;
    width: 100%;
    
    margin-top: 2%;
    margin-left: 2%;
    
}
.empresa img{
    position: absolute;
    height: 100%;
    width: 100%;
}

.conteudoempresa{
    position: relative;
    margin-top:2%;
    margin-left: 2%;
    flex-grow: 2;
   
}

/* fim do conteudo de pagina e inicio do footer */

.footerslimbar{
    height: 5vh;
    width: 100%;
    background-color:rgb(244, 233, 3); 
}
.footerbar{
    height: 25vh;
    width: 100%;
    background-color: rgb(41,21,116);

}


.footerbar h5{
    color: white;
}

.carro{
    height: 12vh;
}
.anuncio{
    display:flex;
    margin-top: 2vh;

    height: 15vh;
    width: 65vh;
    
    background: white;
}
.anuncio img{
    height: 100%;
    width: 30%;

}
.anuncio-texto{
    margin-left: 2vh;
}

.anunciobotao{
    
}