*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    
}

header{
    background-color: rgb(41,21,116);
    position: relative;
    height: 50px;
}
.cabecalho_informacoes{
    display: flex;
    flex-direction: row-reverse;
    justify-items: flex-end;
    align-content: flex-end;
}
li{
    margin: 8px; 
}
.cabecalho_informacoes h5{
    color: white;
    font-size: 1em;
}
li h5 :hover{
    color: rgb(244, 233, 3);
    font-size: 1em;
}
.emailcabecalho{
    display: flex;
    justify-content: flex-end;
}
.emailcabecalho h6{
    color: white;
}


/* fim da formatacao do header e inicio da responsividade do body */

html, body{
    height: 100%;
    
}

.background-image {
    position: relative;
}

.background-image::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../imagens/globo.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    border: 10px solid purple;
}
.container-grid{
    display: flex;
    border: 4px solid yellow;
    position: relative;
    flex-wrap: wrap;
}
.logomarca{
    height: 4vh;
    flex-grow: 1;
    border: 2px solid black;    
}

.logomarca img{
    max-width: 1200px;
    max-height: 1200px;
    height: 100%;
    width: 50%;
}
.menu{
    display: flex;
    background: rgb(244, 233, 3);
    border: 2px solid rgb(244, 233, 3);
    display:flex;
    box-sizing: border-box;
    margin-top: 10vh;
    border-radius: 3vh;
    flex-grow:3; 
    height: 10vh;
    width: 100%;
    position: relative;
    justify-content:center;
    align-items: center; 
    border: 2px solid red;
     
}
.box {
    display: flex;
    width: 60%;
    position: relative;
   
    
    height:80%;
    

}
.box a{
    /* tecnica padrao de centralizacao */
    justify-content: space-around;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    
    
    font-family: 'Oswald', sans-serif;
    color:black;
    text-decoration: none;
    
    text-align: center;
    font-size: 3vh;
   

}
.box :hover{
    background-color: rgb(41,21,116);
    color:rgb(244, 233, 3);
}
.box-1{
    flex-grow: 5;
    
}
.box-2{
    flex-grow: 2;
    
}
.box-3{
    flex-grow: 2;
    
}
.box-4{
    flex-grow: 2;
    
}
.box-5{
    flex-grow: 5;
    
    
    
}
/* fim da edicao do menu e inicio da responsividade */ 
@media screen and (max-width:1920px){
    .container-grid{
       flex-wrap: nowrap;
       margin-right: 5%;
       margin-left: 5%;
    }
    .menu{
        
      
       
    }
    .logomarca{
        
        height: 37vh;
        width: 90vh;
        
    }
   .logomarca img{
       height: 100%;
       width: 100%;
        
   }
   

}

@media screen and (max-width: 1200px){
    .body{
        height: 100%;
    }
    .container-grid{
        margin-right: 0;
        margin-left: 0;
        flex-wrap: wrap;
        margin-right: 5%;
        margin-left: 5%;
    }
    .logomarca{
        width: 132vh;
    }
    .logomarca img{
        width: 100%;
        height: 32vh;
    }
    .menu{
        margin-top:1vh;
        height: 12vh;
    }
}
    
@media screen and (max-width: 920px){   
    .container-grid{
        margin-right: 2%;
        margin-left: 2%;
        flex-wrap: wrap;
        
    }
    .logomarca{
        width: 920px; 
    }
    .logomarca img{
        width: 100%   
    }
    .menu{
        width: 155vh;
        height: 10vh;
    }
    .menu a{
        font-size: 1.7em;
    }
}
@media screen and  (max-width:720px){
    .container-grid{
        
        flex-wrap: wrap;
        margin-right: 0;
        margin-left: 0;
        
    }
    .logomarca{

        width: 720px; 
    }
    .logomarca img{
        width: 100%;  
    }
    .menu{
        
        border-radius: 0px;
        right: 0;
        left: 0;
        width: 155vh;
        height: 9vh;
        top:0;
        
    }
    .menu a{
        font-size: 1.5em;
    }
}
@media screen and  (max-width:540px){

    .container-grid{
        
        flex-wrap: wrap;
        
        margin-right: 0;
        margin-left: 0;
        
    }
    .logomarca{
        width: 540px; 
    }
    .logomarca img{
        width: 100%; 
    }
    .menu{
        border-radius: 0px;
        width:  100%;
        height: 10vh;
        border-radius: 0px;
        right: 0;
        left: 0;
        top:0;
        
        
    }
    .menu a{
        font-size: 1.3em;
    }   
}

@media screen and (max-width:360px;){
    .container-grid{
        margin-right: 7%;
        margin-left: 7%;
        flex-wrap: wrap;
        width:322px;  
        position: absolute;
    }
    .logomarca{
        width: 60px; 
    }
    .logomarca img{
        width: 100%;    
    }
    .menu{
        width: 100%;
        height: 8vh;
        border-radius: 0px;
        position: relative;
        top:0;

    }  
}


/* Fim da responsividade do menu principal */

.anuncio-container{
    /* background: red; */
    margin-top: 17vh;
    
    
}
.anuncio{
    justify-content:center;
    display:flex;
    height: 17vh;
    /* border: 2px solid red; */
    
}
.anuncio img{
    left:0;
    /* border: 2px solid blue; */
    height: 100%;
    width: auto;
    
}
.anuncio-texto{
    padding-left: 2px;
    padding-right: 2px;
    background: white;
    /* border: 3px solid purple; */
    
    
}

/* Fim das definicoes do carrousel de anuncios e inicio da responsividade dele. */
@media (max-width: 720px){
    .anuncio-container{
        height: 17vh;
    }
    .anuncio{
        height:17vh;
    }
}
@media (max-width: 540px){
    .anuncio-container{
        height: 18vh;
    }
    .anuncio{
        height:20vh;
    }
}
.conteudoprincipal{
    display: flex;
    height: 55vh;
    margin-top: 3vh;
    margin-bottom: 3vh;
    background: white;
    position: relative;
    
    width: 100%;
    padding: 15px;
}

.empresa{
    position: relative;
    flex-grow: 4;
    height: 50vh;
    width: 100%;
    padding-top: 2%;
}
.empresa img{
    position: relative;
    height: 100%;
    width: 100%;
}

.conteudoempresa{
    position: relative;
    margin-top:2%;
    margin-left: 2%;
    flex-grow: 2;
}

/* tiago */

/* @media screen (max-width: 720px){
    .conteudoprincipal{
        flex-direction: column;

    }
    .conteudoprincipal .empresa{
        width: 100%;

    }
    .conteudoprincipal .empresa img{
        width: 100%;
        height: auto;
    }
} */
@media (max-width:1920px){
    .conteudoprincipal{
        height: 70vh;


    }
    .conteudoempsesa{
        height: 100%;
    
    }
    .conteudoprincipal .empresa{
        width: 100%;

    }
    .conteudoprincipal .empresa img{
        width: 100%;
        margin: auto;
        height: auto;
    }
}

@media (max-width: 1200px){
    .conteudoprincipal{
        height: 50vh;


    }
    .conteudoempsesa{
        height: 100%;
    
    }
    .conteudoprincipal .empresa{
        width: 100%;

    }
    .conteudoprincipal .empresa img{
        width: 50vh;
        margin: auto;
        height: auto;
    }
}
@media (max-width: 920px){
    .conteudoprincipal{
        height: 50vh;


    }
    .conteudoempsesa{
        height: 100%;
    
    }
    .conteudoprincipal .empresa{
        width: 100%;

    }
    .conteudoprincipal .empresa img{
        width: 60vh;
        margin: auto;
        height: auto;
    }

}
@media (max-width: 720px){

    .conteudoprincipal {
        flex-direction: column;
        height: 75vh;
    }
    .conteudoempresa{
        top:20px;
        height: 100%;
    }
    .conteudoprincipal .empresa {
        width: 800%;
        /* position: relative; */
    }
    .conteudoprincipal .empresa img {
        width: 60vh;
        height: 100%;
    }


}

@media (max-width: 540px) { /* dica: troque tudo para min-width */
    .conteudoprincipal {
        flex-direction: column;
        height: 70vh; 
    }
    .conteudoempresa{
        top: 10px;
        height: 100%;
    }
    .conteudoprincipal .empresa {
        width: 100%;
        /* position: relative; */
    }
    .conteudoprincipal .empresa img {
        width: 100%;
        height: auto;
    }
}

/* fim tiago */



/* inicio de responsividade do conteudo principal */

/* fim do conteudo de pagina e inicio do footer */

footer {
    position: relative;
}

.footerslimbar{

    height: 5vh;
    width: 100%;
    background-color:rgb(244, 233, 3); 
}
.footerbar{
    display: flex;
    position: absolute;
    
    height: 25vh;
    width: 100%;
    background-color: rgb(41,21,116);
    justify-content: center;
   
}
.footerinfo{
    display: flex;
    position: relative;
    justify-content: space-between;
    justify-content: center;
   
    
    border: 2px solid red;
}
.footerinfo h2, .footerinfo h3,.footerinfo h4,.footerinfo h5{
    
    align-self: center;
    justify-self: center;
    color: white;
    

}
   
