
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: rgb(41,21,116);
    height: 50px;
}
.cabecalho_informacoes{
    display: flex;
    flex-direction: row-reverse;
    justify-items: flex-end;
    align-content: flex-end;
}
li{
    margin: 8px; 
}
.cabecalho_informacoes h5{
    color: white;
    font-size: 1em;
}
li h5 :hover{
    color: rgb(244, 233, 3);
    font-size: 1em;
}
.emailcabecalho{
    display: flex;
    justify-content: flex-end;
}
.emailcabecalho h6{
    color: white;
}


/* fim da formatacao do header e inicio da responsividade do body */

body{
    background-image: url(../imagens/globo.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}
.container-grid{
    display: flex;
    /* border: 4px solid yellow; */
    position: relative;
    flex-wrap: wrap;
    
    
}
.logomarca{
    height: 231px;
    
    flex-grow: 2;
}

.logomarca img{
    max-width: 1200px;
    max-height: 1200px;
  
    width: 100%;
    
   
}
.menu{
    display:flex;
    box-sizing: border-box;
    
    flex-grow:3; 
    height: 37vh;
    width: 100%;
    position: relative;
    justify-content:center;
    align-items: center;    
}
.box {
    width: 16%;


    justify-self: space-around;
    height:40%;
    padding: auto;
    margin: auto;  

}
.box-1{
    background: rgb(35, 60, 107);
}
.box-2{
    background: rgb(120, 173, 34);
}
.box-3{
    background: rgb(145, 81, 204);
}
.box-4{
    background: rgb(36, 124, 139);
}
.box-5{
    background: rgb(192, 31, 165);
}
/* fim da edicao do menu e inicio da responsividade */ 
@media screen and (max-width:1920px){
    .container-grid{
       flex-wrap: nowrap;
       margin-right: 7%;
       margin-left: 7%;
    }
    .menu{
        /* border: 3px solid black; */
       
    }
    .logomarca{
        
        height: 37vh;
        width: 90vh;
        
    }
   .logomarca img{
       height: 100%;
       width: 100%;
        
   }
   

}

@media screen and (max-width: 1200px){
    .container-grid{
        margin-right: 0;
        margin-left: 0;
        flex-wrap: wrap;
        margin-right: 7%;
        margin-left: 7%;
    }
    .logomarca{
        width: 134vh;
    }
    .logomarca img{
        width: 100%;
        height: 37vh;
    }
    .menu{
        height: 15vh;
    }
}
    
@media screen and (max-width:1000px){
    .container-grid{
        margin-right: 7%;
        margin-left: 7%;
        flex-wrap: wrap;
        
    }
    .logomarca{
        width: 100%; 
        

     
    }
    .logomarca img{
        width: 100%;
        height: 340px;
      
    }
    .menu{
        width: 155vh;
        height: 12vh;
    }
}
@media screen and (max-width: 920px){   
    .container-grid{
        margin-right: 7%;
        margin-left: 7%;
        flex-wrap: wrap;
        
    }
    .logomarca{
        width: 920px; 
    }
    .logomarca img{
        width: 100%   
    }
    .menu{
        width: 155vh;
        height: 10vh;
    }
}
@media screen and  (max-width:720px){
    .container-grid{
        margin-right: 7%;
        margin-left: 7%;
        flex-wrap: wrap;
        
    }
    .logomarca{

        width: 720px; 
    }
    .logomarca img{
        width: 100%;  
    }
    .menu{
        width: 155vh;
        height: 9vh;
    }
}
@media screen and  (max-width:540px){

    .container-grid{
        margin-right: 7%;
        margin-left: 7%;
        flex-wrap: wrap;
        
    }
    .logomarca{
        width: 540px; 
    }
    .logomarca img{
        width: 100%; 
    }
    .menu{
        width: 155vh;
        height: 9vh;
    }   
}

@media screen and (max-width:360px;){
    .container-grid{
        margin-right: 7%;
        margin-left: 7%;
        flex-wrap: wrap;
        width:322px;  
    }
    .logomarca{
        width: 60px; 
    }
    .logomarca img{
        width: 100%;    
    }
    .menu{
        width: 170vh;
        height: 8vh;
    }  
}

/* Fim da responsividade do menu principal */

    