
header{
    background-color: rgb(41,21,116);
    height: 50px;
}
.cabecalho_informacoes{
    display: flex;
    flex-direction: row-reverse;
    justify-items: flex-end;
    align-content: flex-end;

}

li{
    margin: 8px; 
    
}
.cabecalho_informacoes h5{
    color: white;
    font-size: 1em;
}
li h5 :hover{
    color: rgb(244, 233, 3);
    font-size: 1em;
}
.emailcabecalho{
    display: flex;
    justify-content: flex-end;
}
.emailcabecalho h6{
    color: white;
}
.logomarca{
    height: 250px;
    width: 650px;
    background-image: url(../imagens/digitoklogotipo.jpg);
}
span{
    margin: 4px;
}




/* Fim das formatacoes do header */


.menuprincipal{
    display: flex;
    flex-direction: row;
    
}