
header{
    background-color: rgb(41,21,116);
    height: 50px;
}
.cabecalho_informacoes{
    display: flex;
    flex-direction: row-reverse;
    justify-items: flex-end;
    align-content: flex-end;

}

li{
    margin: 8px; 
    
}
.cabecalho_informacoes h5{
    color: white;
    font-size: 1em;
}
li h5 :hover{
    color: rgb(244, 233, 3);
    font-size: 1em;
}
.emailcabecalho{
    display: flex;
    justify-content: flex-end;
}
.emailcabecalho h6{
    color: white;
}


/* Fim das formatacoes do header */



/* Formatacoes de classes semelhantes a do bootstrap para design principal
neste grid o nome das classes sera semelhante por conveniencia */
.conteiner{
    display: flex;
    flex-direction: row;
    margin-right: auto;
    margin-left: auto;
    padding: 0 20px;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: stretch;
    /* Futuramente adaptar esse tamanho a imagem e responsividade */
    height: 260px;
    border: 1px solid purple;

}
    @media (min-width:1600px){
        .conteiner{
            max-width: 1600px;
            padding: 0;
        }
    }

.r0w{
    margin-left: -5px;
    margin-right: -5px;

}
    /* altura da linha sempre seguindo a altura do conteudo, codigo externo disponivel em: https://www.youtube.com/watch?v=Ml36qp6Dmds&t=569s 10:34 */
    .r0w::before,
    .row::after{
        content: "";
        display: table; /*faz o elemento se comportar como <table>*/
    }



    /* Fim da edicao do grid */
.logomarca{
    height: 250px;
    flex-grow: 2;
    flex-shrink: 4;
  

}
.logomarca img{
    max-width: 100%;
    height: 100%;
   
}
.conteudo{
    height: 250px;
    flex-grow: 3;
    flex-shrink: 6;
    background-color: green;
}
#menu-principal{
    max-width: 70%;
    display: flex;
    margin-right: auto;
    margin-left: auto;

    justify-content: center;
    align-items: center;
}
.box{
    font-size:100%;
    color:white;
    padding:10px;
    margin-right: 25px;
    margin-left: 25px;
    text-align: center;
    font-weight: 300;
    box-sizing: border-box;
    width: 400px;
    
}
.box-1{
    background-color: rgb(58, 144, 150);
}
.box-2{
    background-color: brown;

}
.box-3{
    background-color:rgb(67, 109, 199);
    
}
.box-4{
    background-color:purple;
    
}
.box-5{
    background-color:plum;
    
}